
.container {
    padding: 3rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;

  }
  

.container > h1 {
    color: black;
    padding: 2rem;
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  .container > p {
    margin-top: 5px;
    color:black;
    font-size: 17px;
    margin-bottom: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .image-container {
    background-image: url('../images/shelter2.jpg');
    background-color: #cccccc; 
    height: 100px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 100px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    margin-bottom: 5px;
    margin-top: 5px;

  } 
   
